.wrap {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 8px; /* Закруглённые углы для мягкости */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
  transition: 0.5s;
  flex: 0 0 25%;
}

.wrap-category {
  display: inline-block;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.strCategoryThumb {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.img {
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Плавное изменение масштаба и фона */
}

.img:hover {
  transform: scale(1.2);
  background-color: rgb(81, 73, 55);
}

.strCategory-h3 {
  color: white;
}

.strCategoryDescription {
  color: #d57d1f;
}

.link {
  margin: 7px;
}

.link-categories {
  text-decoration: none;
  color: rgb(244, 104, 104);
}

.link-categories:hover {
  border-radius: 3px;
  padding: 5px;
  background: #c52d2f;
  color: white;
}

@media (max-width: 992px) {
  .wrap {
    flex: 0 0 33%;
  }
}
@media (max-width: 768px) {
  .wrap {
    flex: 0 0 50%;
  }
}
@media (max-width: 460px) {
  .wrap {
    flex: 0 0 100%;
  }
}
