.button-search {
  display: inline-block;
}

.search2-wrap {
  display: flex;
}

.search2-wrap-search {
  margin: auto;
}

.search2-input {
  padding: 10px 10px;
  border-radius: 7px;
  margin: 3px;
}

.search2-btn {
  padding: 10px 10px;
  border-radius: 7px;
  margin: 3px;
}

.search2-btn-reverse {
  position: absolute;
  margin: 0px;
  padding: 0px;
}
